@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Voltaire&display=swap');
@font-face {
    font-family: "Emulogic";
    src: url(/fonts/emulogic.ttf);
}

@font-face {
    font-family: "Namco";
    src: url(/fonts/namco.ttf);
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000;
    color: #00ffde;
    height: calc(100vh - 30px);
    width: 100vw;
    max-width: 100%;
    cursor: url("/cursors/cursor-default.png") 17 0, auto;
}

a {
    color: #ff0000;
    cursor: url("/cursors/cursor-pointer.png"), auto;
}

a:active {
    color: #ff6060;
}

header {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 30px;
}

nav a {
    display: inline-block;
    margin: 6px;
    margin-bottom: 0px;
    font-family: "Emulogic", sans-serif;
    font-size: 16px;
}

main {
    padding-left: 5vw;
    padding-right: 5vw;
    font-family: "Kode Mono", monospace;
    font-size: 14px;
    margin-bottom: 50px;
}

footer {
    justify-content: center;
    text-align: center;
    padding-left: 5vw;
    padding-right: 5vw;
    font-family: "Kode Mono", monospace;
    font-size: 12px;
}

#footer-gif img {
    border: 0;
    width: 88px;
    height: 31px;
}

#footer-gif a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Namco";
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px;
}

#main-header, #whatware-inner-text {
    color: #FFFFFF;
    font-family: "Voltaire";
    font-size: 36px;
}

#starfield {
    position: fixed;
    left:0;
    top:0;
    z-index:-1;
}

* {
    box-sizing: border-box;
}